body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
}

header .header_top{
    background-color: black;
}

.header_top img{
    width: 80px;
    margin-right: 10px;
}

.header_bot{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}

#jumbo{
    height: 700px;
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;

}

#jumbo .container-fluid{
    position: absolute;
    bottom: 0;
    left: 0;
}

.ms_img{
    width: 200px;
}

.ms_col_border{
    border-bottom: 2px solid blue;
}

#console .ms_col{
    opacity: 0.5;
    border-bottom: 2px solid white;
}

#console .ms_col_active{
    border-bottom: 2px solid blue;
}

#acquisti{
    height: 600px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

#uscite{
    background-color: #1f1f1f;
    color: white;
}

#plus{
    background-color: #bebcbb;
}

#now{
    background-color: #161c3b;
    color: white;
}

footer{
    background-color: #00439c;
    color: white;
    overflow: hidden;
}

footer a{
    color: white;
}

ul li{
    list-style: none;
}

.grigio_chiaro_text{
    color: #727272;
}

/*button*/

.ms_btn{
    border-radius: 17px;
    padding: 10px;
}

.btn_rosso{
    outline: 2px solid #cd3d0f;
    background-color: #cd3d0f;
}

.btn_grigio{
    outline: 2px solid #363636;
    background-color: #363636;
}

.btn_grigio_chiaro{
    background-color: #d9dadc;
    color: #5c84e4;
}

/*hover*/

#console .ms_col:hover{
    opacity: 1;
    border-bottom: 2px solid blue;
    border-radius: 0;
}

#card .ms_hover img:hover{
    outline: 2px solid blue;
    outline-offset: 3px;
    border-radius: 5px;
}

.btn_grigio:hover{
    outline-offset: 1px;
}

.ms_btn_style:hover{
    outline: 2px solid #0D6EFD;
    outline-offset: 1px;
}

.btn_rosso:hover{
    outline-offset: 1px;
}