body{
    font-family: sans-serif;
}

header .header_top{
    background-color: black;
}

.header_top img{
    width: 80px;
}

.header_bot{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}

#jumbo{
    height: 700px;
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

}

#jumbo .container{
    height: 100%;
}

.ms_img{
    width: 200px;
}





.box{
    background-color: red;
    height: 100px;
    width: 100px;
}

